<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--== Hardware Description ==-->
    <ros2_control name="GazeboSimSystem" type="system">
        <!--== Hardware bridge definition ros2_gz ==-->
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>   <!--Gazebo as the hardware instead real one -->
        </hardware>

        <!--== Actuators definition (Joints) ==-->
        <!-- Drive Wheels (Velocity ctrl)-->
        <joint name="left_foot_joint">
            <!-- Data to send -->
            <command_interface name="position"/>
            <!-- Data to read only -->
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        
        <joint name="right_foot_joint">
            <command_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <!-- Bending knees (Position ctrl)-->
        <joint name="left_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <!--== Definition of the plugin that tells ros2 to use it's controllers ==-->
    <gazebo>
        <!-- Add ros2 controllers via yaml file -->
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find otto_description)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>