<?xml version="1.0"?>
<!--
=============================================================================
File: otto_ros2_control.xacro
Role: The Hardware Abstraction Layer (Control Bridge)

Description:
This file connects the physical 3D model in Gazebo to the logical ROS 2
controller managers. It acts as the "nervous system," mapping software
commands to virtual motor movements.

What it does:

Hardware Mocking: Uses the 'gz_ros2_control' plugin to treat the Gazebo
simulator as if it were the real-world microcontrollers and hardware.

Motor Interfaces: Declares exactly how each joint can be driven:

Wheels: Accept both 'velocity' and 'position' commands (for rolling).

Hips & Feet: Accept 'position' commands (for walking).

Controller Loading: Injects the ROS2 control plugin into the simulation
and tells it to read your 'controllers.yaml' file to apply the correct
driving and trajectory logics.
===========================================================================
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--== Hardware Description ==-->
    <ros2_control name="GazeboSimSystem" type="system">
        <!--== Hardware bridge definition ros2_gz ==-->
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>   <!--Gazebo as the hardware instead real one -->
        </hardware>

        <!--== Actuators definition (Joints) ==-->
        <!-- Drive Wheels (Velocity ctrl)-->
          <joint name="left_wheel_joint">
            <!-- Data to send -->
            <command_interface name="velocity"/>
            <command_interface name="position"/>
            <!-- Data to read only -->
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        
        <joint name="right_wheel_joint">
            <command_interface name="velocity"/>
            <command_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
         <!-- Bending knees (Position ctrl)-->
        <joint name="left_foot_joint">
            <command_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        
        <joint name="right_foot_joint">
            <command_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="left_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <!--== Definition of the plugin that tells ros2 to use it's controllers ==-->
    <gazebo>
        <!-- Add ros2 controllers via yaml file -->
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find otto_description)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>